*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tituloS{
    color: #725805cb;
    background-color: transparent;
    margin: 0;
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Yellowtail', cursive;
}
.tituloS h1{
    margin: 0;
    padding-top: 60px;
}
.subtituloC {
    color: #725805cb;
    display: inline;
    font-size: 20px;
    font-weight: 500;
    text-align: center  ;
    text-transform: uppercase;
}

header {
    max-width: 100%;
    height: 600px;
    /* fallback for old browsers */
    background: linear-gradient(to right, hsla(61, 90%, 52%, 0.459), hsla(9, 50%, 24%, 0.664)), url(../img/fondos/fondo2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(61, 81%, 51%, 0.459), hsla(9, 64%, 38%, 0.664)), url(../img/fondos/fondo2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
header section img{
    border-radius: 80px;
    width: 150px;
}

header .textos-header{
    display: flex;
    height: 465px;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
@media (max-width:280px) {
    .textos-header h1{
        font-size: 25px;
        font-weight: 500;
        padding: 0 5px;
    }
    .textos-header h2{
        font-size: 20px;
        font-weight: 400;
    }
}
.textos-header h1{
    font-size: 50px;
    color:#fff;
    margin: 10px 0px 0px 0px;
    height: 54px;
}
.textos-header h2{
    font-size: 40px;
    margin:0px 5px 20px 0px;
    height: 44px;
    color:#fff;
}
.typed{
    color: white;
}

.afines{
    color: #eeea14;
}
.textos-header .txtHeader p{
    color: white;
    font-size: 30px;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*--------------------------------------- Section 2  -----------------------------*/

.contenedor1.sobre-mi {
    padding: 20px 20px 40px 20px;
    text-align: center;
    position: relative;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.titulo{
    color: #725805cb;
    font-size: 40px;
    width: 100%;
    position: relative;
    text-align: center;
    font-family: 'Yellowtail', cursive;
}
.titulo h2{
    margin: 0;
    margin-bottom: 50px;
    padding: 10px;
}

.contenedor-sobre-mi{
    display: grid;
    grid-template-columns: repeat(2, 440px);
    align-items: center;
    justify-content: center;
    font-family: 'Yusei Magic', sans-serif;

}
.contenedor-sobre-mi .items{
    width: 440px;
    height: auto;
    display: flex;
    padding: 2rem;
}
.contenedor-sobre-mi .parrafo1 {
    width: 540px;
    font-weight: 260;
    text-align: justify;
}

.contenedor-sobre-mi .parrafo2 {
    font-weight: 260;
    text-align: justify;
    width: 500px;

}


@media (max-width:1024px) {
    .contenedor1.sobre-mi{
        height: auto;
        min-height: 900px;
    }
    .contenedor-sobre-mi{
        display: grid;
        grid-template-columns: repeat(2, 400px); 
    }
    
    .contenedor-sobre-mi .parrafo1,.contenedor-sobre-mi .parrafo2{
       width: 100%;
       height: auto;
       
    }
    .contenedor-sobre-mi .imagen-about-me1,
    .contenedor-sobre-mi .imagen-about-me2{
        width: 80%;
    }
    
}

@media (max-width:540px)  {
    .contenedor1.sobre-mi{
        height: auto;
        /* min-height: 900px; */
    }
    .contenedor-sobre-mi{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 400px);
        
    }
    .contenedor-sobre-mi .items{
        width: 400px;
        height: 380px;
        display: flex;
        margin: 0;
        padding: 0 1rem;
        justify-content: center;
        align-items: center;
        

    }
    .contenedor1.sobre-mi .titulo h2{
        margin: 0;
    }
    .contenedor-sobre-mi .parrafo1 p{
        height: 0;
    }
    .contenedor-sobre-mi .parrafo1 p,.contenedor-sobre-mi .parrafo2 p{
        width: 100%;
        
    }
    .contenedor-sobre-mi .imagen-about-me1,
    .contenedor-sobre-mi .imagen-about-me2{
        width: 80%;
    }
    
}

@media (max-width:768px) {
    .contenedor1.sobre-mi{
        height: auto;
    }
    .contenedor-sobre-mi{
        display: grid;
        /* grid-template-columns: repeat(2, 360px);  */
    }

    .contenedor-sobre-mi .parrafo1,.contenedor-sobre-mi .parrafo2{
       width: 100%;
       height: auto;

    }
    .contenedor-sobre-mi .imagen-about-me1,
    .contenedor-sobre-mi .imagen-about-me2{
        width: 80%;
    }

}

@media (max-width:414px) {
    .contenedor1.sobre-mi{
        height: auto;
    }
    .contenedor-sobre-mi{
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: repeat(4, 360px);
    }
    .contenedor-sobre-mi .items{
        padding: 0px 20px;
    }
    .contenedor-sobre-mi .parrafo1,.contenedor-sobre-mi .parrafo2{
        width: 100%;
        height: auto;

    }
    .contenedor-sobre-mi .imagen-about-me1,
    .contenedor-sobre-mi .imagen-about-me2{
        width: 80%;
    }
    
}
@media (max-width:411px) {
    .contenedor1.sobre-mi{
        height: auto;
    }
    .contenedor-sobre-mi{
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: repeat(4, 360px);
    }
    .contenedor-sobre-mi .items{
        padding: 0px 20px;
    }
    .contenedor-sobre-mi .parrafo1,.contenedor-sobre-mi .parrafo2{
       width: 100%;
       height: auto;

    }
    .contenedor-sobre-mi .imagen-about-me1,
    .contenedor-sobre-mi .imagen-about-me2{
        width: 80%;
    }
}
@media (max-width:280px) {
    .contenedor1.sobre-mi{
        height: auto;
    }
    .contenedor-sobre-mi{
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: repeat(4, 360px);
    }
    .contenedor-sobre-mi .items{
        padding: 0px 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .contenedor-sobre-mi .parrafo1 p,.contenedor-sobre-mi .parrafo2 p{
       width: 250px;
       height: auto;

    }
    .contenedor-sobre-mi .imagen-about-me1,
    .contenedor-sobre-mi .imagen-about-me2{
        width: 80%;
    }

}

/* -----------------------------section 4 Estudios------------------------------- */
.section4{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}
.containerC{
    width: 1000px;
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerC .card{
    position: relative;
    height: 250px;
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    display: flex;
    width: 45%;
    margin: 30px 0;
}
.containerC .card .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(163, 119, 119, 0.8);
    transition: 0.5s ease-in-out;
}
.containerC .card:hover .imgBox{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    box-shadow: 0 20px 50px rgba(0, 0,0, 0.8);
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}

.containerC .card .imgBox:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(225,255, 255, .05);
    font-weight: 700;

}
.containerC .card .imgBox img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}
.containerC .card:hover .imgBox img{
    max-width: 75px;

}
.containerC .content img.certificadoImg{
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.containerC .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.containerC .card .content h3{
    font-size: 24px;
    margin: 0 0 10px 0;
}
.containerC .card .content h3.h3{
    font-size: 24px;
    margin: 0;
}
.containerC .card .content h2{
    margin: 0 0 10px 0;
    font-size: 23px;
}
.containerC .card .content p{
    margin: 0 0 10px 0;
}

.content .contenedor_cert{
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    max-width: 850px;
    width: 100%;
    background-color: #333;
    height: 399px;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding:5px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease-in-out;
}

button {
    background-color: #47a386;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;

    padding: 10px 25px;
}

.contenedor_cert.show{
    opacity: 1;
    pointer-events: auto;
}

.contenedor_cert i.close{
    color: #007bff;
    height: 30px;
    width: 30px;
    background:#333;
    font-style: 22px;
    position: absolute;
    right: 0%;
    top: 0%;

    font-size:  30px;
    cursor: pointer;
}

.shadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(22, 19, 19, 0.603);
}
.shadow.show{
  display: block;
}

@media (max-width:1024px) {
    .containerC .card.e:hover .imgBox,
    .containerC .card.h:hover .imgBox{
    width: 150px;
    height: 150px;
    top: -130px;
    left: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    box-shadow: 0 20px 50px rgba(0, 0,0, 0.8);
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    }
    .section4{
        min-height: 900px;
    }
    .content .contenedor_cert{
        width: 840px;
        height: 550px;
    }
}

@media (max-width:992px)
{
    .containerC{
            width: 100%;
            flex-direction: column;
            align-items: center;
    }
    .containerC .card{
            width: 400px;
    }
}
@media (max-width:768px)
{
    .containerC .card{
            max-width: 300px;
            flex-direction: column;
            height: auto;
    }
    .containerC .card .imgBox{
            position: relative;
    }
    .containerC .card .imgBox,
    .containerC .card:hover .imgBox
    {
            width: 100%;
            height: 200px;
            left: 0;
    }
    .containerC .card .imgBox img,
    .containerC .card:hover .imgBox img{
            max-width: 100px;

    }
    .containerC .card .content{
            position: relative;
            width: 100%;
    }
    .content .contenedor_cert{
        width: 651px;
        height: 450px;
    }
}


@media (max-width:590px){
    .content .contenedor_cert{
        width: 460px;
        height: 270px;
    }
}

@media (max-width:540px) {
    .containerC .card:hover .imgBox,
    .containerC .card.e:hover .imgBox,
    .containerC .card.h:hover .imgBox{
        width: 150px;
        height: 150px;
        left: 75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        
        box-shadow: 0 20px 50px rgba(0, 0,0, 0.8);
        background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    }
    .content .contenedor_cert{
        width: 517px;
        height: 410px;
    }
}


@media (max-width:414px){
    .content .contenedor_cert{
        width: 370px;
        height: 270px;
    }
}
@media (max-width:411px){
    .content .contenedor_cert{
        width: 370px;
        height: 270px;
    }
}
@media (max-width:360px){
    .content .contenedor_cert.show{
        width: 337px;
        height: 322px;
    }
}
@media (max-width:280px){
    .content .contenedor_cert.show{
        width: 273px;
        height: 279px;
    }
    .containerC .card{
        width: 260px;
        margin: 20px auto;
}
    .containerC .card:hover .imgBox,
    .containerC .card.e:hover .imgBox,
    .containerC .card.h:hover .imgBox{
        width: 150px;
        height: 150px;
        left: 50px;
        top: calc(50% - 50px);
        transition: 0.5s ease-in-out;
        box-shadow: 0 20px 50px rgba(0, 0,0, 0.8);
        background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    }
    
}



footer{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(61, 90%, 52%, 0.253), hsla(9, 50%, 24%, 0.664)), url(../img/fondos/ladrillos\ negros.jpg);
    background-size: cover;
    padding: 20px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
    
}

.content-foo{
    text-align: center;
    margin:5px 10px;
    
}

.content-foo h4{
    cursor: pointer;
    color: #fff;
    border-style: ridge;
    border-bottom: 3px solid #d44e10;
    padding: 5px;
    margin-bottom: 0%;
    transition: 0.5s;
}
.content-foo h4:hover{
    background-color: #d44e10;
    border-bottom:3px solid white;
    border-top: 3px solid #d44e10;
    border-left: 3px solid #d44e10;
    border-right: 3px solid #d44e10;
}
.itemsfooter{
    list-style: none;
}
.itemsfooter li img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.itemsfooter .horario{
    width: 50px;
    height: auto;
    margin:0 0 10px 30px;
}
.itemsfooter i{
    margin-right: 6px;
}
.itemsfooter i.fa-external-link-alt{
    color: #47a386;
    margin-left: 6px;
}
.itemsfooter i.location{
    color: #bb1926;
}
.itemsfooter i.fa-birthday-cake{
    color: #c9434f;
}
.itemsfooter i.fa-calendar-day{
    color: #19bba5;
}
.itemsfooter i.cell{
    color: #f1ad1a;
}
.itemsfooter i.fa-id-card{
    color: #b7c441;
}
.itemsfooter i.mail{
    color: #c210dac9;
}
.itemsfooter{
    text-align: left;
    color: #fffeff;
    white-space:pre-line;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

